[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
selenium = "*"
self = "*"
webdriver-manager = "*"
pandas = "*"
jupyter = "*"
deap = "*"
networkx = "*"
product = "*"
numpy = "*"
docxtpl = "*"
pytholog = "*"
scikit-learn = "*"
scikit-fuzzy = "*"
matplotlib = "*"
yake = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
